<h1>Movies Collection</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-12 text-end">
            <a routerLink="/movies"><button class="btn btn-danger m-1">BACK</button></a>
            <button class="btn btn-primary m-1" (click)="saveTutorial()">SAVE</button>
          </div>
        </div>
        <form>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Title</legend>
                <input
                  type="text"
                  id="title"
                  name="title"
                  [(ngModel)]="movie.title"
                  class="form-control"
                  placeholder="Input Title"
                />
              </fieldset>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Director</legend>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Input Director"
                  name="director"
                  id="director"
                  [(ngModel)]="movie.director"
                />
              </fieldset>

            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Summary</legend>
                <textarea
                  type="text"
                  class="form-control"
                  name="summary"
                  id="summary"
                  [(ngModel)]="movie.summary"
                ></textarea>
              </fieldset>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Genre</legend>
                <select  class="form-control" multiple  >
                  <option *ngFor="let genre of genreList" value="{{genre.id}}" >{{genre.name}}</option>

                </select>
              </fieldset>
            </div>
          </div>
        </form>

    </div>
  </div>
</div>

