<h1>Movies Collection</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-12 text-end">
            <a routerLink="/movies"><button class="btn btn-danger m-1">BACK</button></a>
            <button class="btn btn-primary m-1" (click)="saveTutorial()">SAVE</button>
          </div>
        </div>

          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Title</legend>
                <input
                  type="text"
                  id="title"
                  name="title"
                  [(ngModel)]="movie.title"
                  class="form-control"
                  placeholder="Input Title"
                  [ngModelOptions]="{standalone: true}"
                />
              </fieldset>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Director</legend>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Input Director"
                  name="director"
                  id="director"
                  [(ngModel)]="movie.director"
                  [ngModelOptions]="{standalone: true}"
                />
              </fieldset>

            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Summary</legend>
                <textarea
                  type="text"
                  class="form-control"
                  name="summary"
                  id="summary"
                  [(ngModel)]="movie.summary"
                  [ngModelOptions]="{standalone: true}"
                ></textarea>
              </fieldset>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-12">
              <fieldset>
                <legend>Genre</legend>
                <ng-multiselect-dropdown
                  [settings]="dropdownSettings"
                  [data] = "genreList"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onUnSelectAll()">
                >
                </ng-multiselect-dropdown>
<!--                <select  (change)="onSelectedGenre($event)" name="genres" class="form-control" multiple>-->
<!--                  <option *ngFor="let item of genreList" value="{{[item.id]}}" >{{item.name}}</option>-->
<!--                </select>-->
              </fieldset>
            </div>
          </div>

    </div>
  </div>
</div>

